# BEGIN All In One WP Security
#AIOWPS_CUSTOM_RULES_START
<Files *.php>
    Order Allow,Deny
    Deny from all
</Files>

<FilesMatch "(index|wp-login|shop)\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

#AIOWPS_CUSTOM_RULES_END
# END All In One WP Security